<div class="secondhead">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#">Dashboard</a>
        </li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Certifications</a></li>
    </ul>
</div>

<div class="jumbotron">
    <div class="row-fluid">
        <div class="span3">
            <section data-aura-widget="profile"></section>
        </div>
        <div class="span9">

            <div class="span9">
                <section data-aura-widget="courseInfo"></section>
            </div>

            <div class="span9">
                <section data-aura-widget="courseInfo"></section>
            </div>
        </div>
    </div>
    <div> Work under progress ....</div>
</div>
