<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KinoEdu Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="components/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="components/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="components/bootstrap/docs/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="components/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="components/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="components/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="components/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="components/bootstrap/docs/assets/ico/favicon.png">
</head>

<body>

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="demo.html">Demo</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
        <h3 class="muted">Kino Edu</h3>
    </div>

    <hr>

    <div class="jumbotron">
        <h1>NextGen Learning Platform!</h1>
        <p class="lead">Learning is now an integral part any company. Over last few years, learning has transformed from leaps and bounds. Video Tutorial, Month long Courses, Homework , Quiz and showcase progress and certification on Social Networks are now the key essense. Forming communities around learning a set of skills is the key thing today</p>
        <a class="btn btn-large btn-success" href="signup.html">Sign up today</a>
    </div>

    <hr>
            <div class="flex-video">
                <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/kdUMlBf1aA4" allowfullscreen frameborder="0">
                </iframe>
            </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6">
            <h4>Video Instructions</h4>
            <p>Ability to embed Youtube, Vimeo video tutorial in your courses.</p>

            <h4>Short Quiz</h4>
            <p>Immediate Short Quiz enables person to validate candidate's understanding,before stepping to next lesson.</p>

            <h4>Home Work</h4>
            <p>Series of Homework complete over days/week helps candidate really polish their skills.</p>
        </div>

        <div class="span6">
            <h4>Certification Center</h4>
            <p>The Certification Center helps a candidate store and showcase their certifications.</p>

            <h4>Social Media</h4>
            <p>Ability to push Certifications or Progress on a certain course to Facebook, Google+, Twitter and Linkedin.</p>

            <h4>Social Community</h4>
            <p>Build Social Communities around skills. Request experts in the community to put up newer courses and certifications.</p>
        </div>
    </div>

    <hr>

    <div class="footer">
        <p>&copy; KinoEdu 2013</p>
    </div>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="components/bootstrap/docs/assets/js/jquery.js"></script>
<script src="components/bootstrap/docs/assets/js/bootstrap.min.js"></script>

<script src="components/bootstrap/docs/assets/js/holder/holder.js"></script>

<script src="js/ga.js" type="text/javascript"></script>
</body>
</html>
