<ul class="nav nav-pills pull-right">
    <li><a href="courses.html">Courses</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
    {{#if userProfile }}
        <li>
            <div class="btn-group">
              <button class="btn btn-primary">{{userProfile.name}}</button>
              <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">View Profile</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>

        </li>
    {{else}}
        <li><a href="{{loginUrl}}">Login</a></li>
    {{/if}}
</ul>