<div class="secondhead">

    <ul class="nav nav-tabs">
        <% _.each( coursesData, function( courseEntry,index ){%>
        <li <% if(index==0){%> class="active"<% } %> ><a href="#!courses/<%=courseEntry.widget%>" data-target="<%=courseEntry.widget%>"><%=courseEntry.tabName%></a></li>
        <% }) %>
    </ul>
</div>

<% _.each( coursesData, function( courseEntry,index ){%>
<section data-aura-widget="<%=courseEntry.widget%>" <% if(index!=0){%> style="display:none"<% } %> ></section>
<% }) %>
