 <div class="jumbotron">
    <h2>Contact us</h2>
    <p class="lead">You can reach out to us using following form
    <form class="form-signin">
        <input type="text" class="input-block-level" placeholder="First Name">
        <input type="text" class="input-block-level" placeholder="Last Name">
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="text" class="input-block-level" placeholder="message">


        <button class="btn btn-large btn-primary" type="submit">Send</button>

    </form>
</div>