<div class="jumbotron">
    <h1>NextGen Learning Platform!</h1>
    <p class="lead">Learning is now an integral part any company. Over last few years, learning has transformed from leaps and bounds. Video Tutorial, Month long Courses, Homework , Quiz and showcase progress and certification on Social Networks are now the key essense. Forming communities around learning a set of skills is the key thing today</p>
    <a class="btn btn-large btn-success" href="signup.html">Sign up today</a>
</div>

<hr></hr>
<div class="flex-video">
    <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/kdUMlBf1aA4" allowfullscreen frameborder="0">
    </iframe>
</div>

<hr></hr>

<div class="row-fluid marketing">
    <div class="span6">
        <h4>Video Instructions</h4>
        <p>Ability to embed Youtube, Vimeo video tutorial in your courses.</p>

        <h4>Short Quiz</h4>
        <p>Immediate Short Quiz enables person to validate candidate's understanding,before stepping to next lesson.</p>

        <h4>Home Work</h4>
        <p>Series of Homework complete over days/week helps candidate really polish their skills.</p>
    </div>

    <div class="span6">
        <h4>Certification Center</h4>
        <p>The Certification Center helps a candidate store and showcase their certifications.</p>

        <h4>Social Media</h4>
        <p>Ability to push Certifications or Progress on a certain course to Facebook, Google+, Twitter and Linkedin.</p>

        <h4>Social Community</h4>
        <p>Build Social Communities around skills. Request experts in the community to put up newer courses and certifications.</p>
    </div>
</div>
