<div class="error row-fluid">
    {{#if errors.length }}
    <h3>Error</h3>
    <div class="span4 offset4" >
        <ul>
            {{#each errors}}
                <li>{{errorMessage}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>


