<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loginLabel">Login</h3>
</div>
<div class="modal-body">

    <form class="form-signin">
        <input type="text" class="input-block-level" placeholder="Email address"/>
        <input type="password" class="input-block-level" placeholder="Password"/>

        <button class="login btn btn-large btn-primary">Login</button>

    </form>
    <div class="row-fluid">
        <div class="span3 offset2"><p class="lead">Login with </p></div>
        <div class="span1">
            <a href="#"><img src="images/facebook-login.png"></img></a>
        </div>
        <div class="span1">
            <a href="#"><img src="images/google-login.png"></img></a>
        </div>
        <div class="span1">
            <a href="#"><img src="images/linkedin-login.png"></img></a>
        </div>
        <div class="span1">
            <a href="#"><img src="images/twitter-login.png"></img></a>
        </div>

    </div>
    <hr></hr>
    <p class="lead">If you have not signed up, proceed to <a href="#signup" data-toggle="modal" onclick="$('#login').modal('hide')">Sign up</a> Page</a></p>


</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

</div>