{{#unless loginToken }}
<div class="row-fluid form">

    <div class="form-signin">
            <input name="email" type="text" class="input-block-level" placeholder="Email address"/>
            <input name="password" type="password" class="input-block-level" placeholder="Password"/>
            <button name="submit" class="login btn btn-large btn-primary">Login</button>

    </div>
    <div class="row-fluid">
        <div class="span2 offset2"><p class="lead">Login with </p></div>
        <div class="span1">
            <a href="#"><img src="images/facebook-login.png"></img></a>
        </div>
        <div class="span1">
            <a href="#"><img src="images/google-login.png"></img></a>
        </div>
        <div class="span1">
            <a href="#"><img src="images/linkedin-login.png"></img></a>
        </div>
        <div class="span1">
            <a href="#"><img src="images/twitter-login.png"></img></a>
        </div>

    </div>
    <hr></hr>
    <p class="lead">If you have not signed up, proceed to <a href="#signup" data-toggle="modal" onclick="$('#login').modal('hide')">Sign up</a> Page</a></p>


</div>
{{/unless}}
